---
layout: default
title: Drone Prototype
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>I am Kin Lane, the API Evangelist...</h2>
		</header>
		<p>I took the summer off last year for a project we called <a href="http://dronerecovery.org/">Drone Recovery</a>. I began investing in, and flying drones as part of what we were doing, and unexpectedly got interested in the world of drones. Once I returned I began studying the intersection of drones and my career as the API Evangelist, better understanding how companies are using APIs on the drone, on mobile devices, and in the cloud.</p>
		<p>I have a client who expressed interest in my thoughts about an API system for drone post-production, and API driven market and ecosystem. I'm looking for projects to help me push forward my storytelling around APIs, so I set out to craft a prototype API to flush out my thoughts around the idea, acting like I'm developing an API, but just do it as an exercise, without all the cost.</p>
		<p>This is my Drone API prototype. It is a Github driven prototype where I walk through all the steps I would take to design, develop, manage, and evolve a drone API. I'm looking to establish an evolving, but simple overview of the API, but with all the detail of how I got here right below the surface, so anyone could learn from my story.</p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="10%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Drones Are Interesting</h2>
			<a name="InterestingDrones"></a>
		</header>
		<p>I did not like drones at first. Because of military drones, and Internet of Things hype I just wasn't interested, but over the last year I've come to find them very intriguing. They are the poster child for Internet connected devices, offering the best and worst of what happens when you connect devices to the Internet.</p>
		<p>Like much of the API sector, drones fascinate me, but not enough to actually jump into the business, developing devices, tools, APIs, and offering services in the sector. This is what makes my API prototype process great, is that I can explore my ideas, understand the possibilities, and tell stories without any of the financial risk and headach ethat comes along with doing startups. </p>
		<p>This prototype is meant to look and act like a Drone API, if I was operating it, has much of the detail about getting started, documentat, code, the APIs, as well as much of the other aspects of operating an API. The entire project is available here on the home page, but to get much of the story I recommend taking a look at the road map, change log, and the blogs, as it tells much of the story of how I explored this idea, with the resulting website as the current snapshot of my drone API prototype.</p>
	</div>
	<span class="image object">
		<img src="http://drone.prototype.apievangelist.com/images/kin-lane-drone-catch.png" alt="" width="10%" />
	</span>
</section>

<!-- Getting Started -->
<section id="banner">
	<div class="content">
		{% assign getting_started = site.data.getting_started.index[0] %}
		{% assign getting_started_steps = site.data.getting_started_steps.index %}
		<header>
			<h2>{{ getting_started.title }}</h2>
			<a name="GettingStarted"></a>
		</header>
		<p>{{ getting_started.header }}</p>
		  <ol style="list-style-type: decimal; padding-left: 35px;">
		    {% for steps in getting_started_steps %}
					<li><a href="{{ steps.url }}"><strong>{{ steps.title }}</strong></a></li>
		    {% endfor %}
		  </ol>
		<p>{{ getting_started.footer }}</p>
	</div>
	<span class="image">
		<img src="{{ getting_started.image }}" alt="" width="5%" />
	</span>
</section>

<!-- Authentication -->
{% assign authentication = site.data.authentication.index[0] %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ authentication.title }}</h2>
		</header>
		<p>{{ authentication.header }}</p>
		<p>{{ authentication.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ authentication.image }}" alt="" width="5%" />
	</span>
</section>

<!-- FAQ -->
{% assign faq = site.data.faq.index[0] %}
{% assign faq_categories = site.data.faq_categories.index %}
{% assign faq_questions = site.data.faq_questions.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ faq.title }}</h2>
			<a name="FAQ"></a>
		</header>
		<p>{{ faq.header }}</p>
			{% for categories in faq_categories %}
				<p><strong>{{ categories.category }}</strong></p>
				<ul>
				{% for questions in faq_questions %}
					{% if categories.category == questions.category %}
						<li><a name="{{ slug }}"></a><strong>{{ questions.question }}</strong> - {{ questions.answer }}</li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endfor %}
		<p>{{ faq.footer }}</p>
	</div>
	<div class="image object">>
		<img src="{{ faq.image }}" alt="" width="5%" />
	</div>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Drone APIs</h2>
			<a name="DroneAPIs"></a>
		</header>
		<p>These are the drone API prototypes I am designing. I'm managing the schema and OpenAPI for them, and I'm using Jekyll and Github to mock the API, and provide the documentation. It allows me to easily play around with different potential designs for my Drone API platform.</p>
		{% assign filter_tag = 'Drones' %}
		{% assign apijson = site.data.apis %}
		{% assign apicommons = site.data.api-commons %}
		{% include api-doc.html %}
		<p>All the APIs here are managed using Google Spreadsheets then published to YAML in the _data folder for this project, allowing me to more easily manage data and schema, and develop prototypes from them. Check the road map for any new drone APIs I am planning as part of this research.</p>
	</div>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Management APIs</h2>
			<a name="ManagementAPIs"></a>
			<p>These are the APIs I am evolving to help manage the drone API platform, providing programmatic access to the platform operators, and in some cases partners, and API consumers. Everything in this project is ultimately an API, allowing everything to be accessed and orchestrated.</p>
			{% assign filter_tag = 'Management' %}
			{% assign apijson = site.data.apis %}
			{% assign apicommons = site.data.api-commons %}
			{% include api-doc.html %}
		<p>All the APIs here are managed using Google Spreadsheets then published to YAML in the _data folder for this project, allowing me to more easily manage data and schema, and develop prototypes from them. Check the road map for any new drone APIs I am planning as part of this research.</p>
		</header>
		<p></p>
	</div>
</section>

{% assign code = site.data.code.index[0] %}
{% assign code_entries = site.data.code_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ code.title }}</h2>
			<a name="Code"></a>
		</header>
		<p>{{ code.header }}</p>
		<center>
		<table style="width: 80%; padding-left: 25px; border: 1px; background-color: #FFF; border: 0px solid #FFF;">
		  <tr style="border: 1px solid #FFF;">
			{% for entry in code_entries %}
		  		<td align="center" valign="top" style=" width: 50px; padding: 10px; background-color:#FFF; border: 1px solid #FFF;">
		  			{{ entry.icon }}<br />{{ entry.language }}
		  		</td>
			{% endfor %}
		  </tr>
		</table>
		</center>
		<p>{{ code.footer }}</p>
	</div>
</section>

<!-- Integrations -->
{% assign integration = site.data.integrations.index[0] %}
{% assign integration_entries = site.data.integration_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ integration.title }}</h2>
			<a name="Integrations"></a>
		</header>
		<p>{{ integration.header }}</p>
		<center>
		<table cellpadding="3" cellspacing="2" width="90%">
		{% assign toggle = 0 %}
		{% for tool in integration_entries %}
		    {% if toggle == 0 %}
		    <tr style="border: 1px solid #FFF;">
		    {% endif %}
		      <td width="50%" valign="top" align="center" style="width: 250px; background-color:#FFF; border: 0px solid #FFF;">
		        <img src="{{ tool.image }}" align="center" width="{{ tool.imagewidth }}" />
		        <p align="center"><a href="{{ tool.url }}"><strong>{{ tool.name }}</strong></a></p>
		      </td>
		    {% if toggle == 3 %}
		      </tr>
		      {% assign toggle = 0 %}
		    {% else %}
		      {% assign toggle = toggle | plus: 1%}
		    {% endif %}
		{% endfor %}
		</table>
	</center>
		<p>{{ integration.footer }}</p>
	</div>
</section>

<!-- Issues -->
{% assign change_log = site.data.change_log.index[0] %}
{% assign change_log_entries = site.data.change_log_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ change_log.title }}</h2>
			<a name="ChangeLog"></a>
		</header>
		<p>{{ change_log.header }}</p>
		<center>
		<div class="table-wrapper" style="height: 300px; overflow:auto;">
		<table cellpadding="10" cellspacing="10" width="90%">
			{% for entry in change_log_entries %}
				<tr>
					<td align="left" valign="top">
						({{ entry.date | date: "%D" }}) <strong>{{ entry.title }}</strong> - {{ entry.description }}
					</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		</center>
		<p>{{ change_log.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ change_log.image }}" alt="" width="5%" />
		<p align="center"><a href="/change-log/">Visit Full Page Change Log</a></p>
	</span>
</section>

<!-- Issues -->
{% assign issues = site.data.issues.index[0] %}
{% assign issue_entries = site.data.issue_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ issues.title }}</h2>
			<a name="Issues"></a>
		</header>
		<p>{{ issues.header }}</p>
		<div class="table-wrapper" style="height: 300px; overflow:auto;">
		<table class="table-wrapper">
			{% for entry in issue_entries %}
				<tr>
					<td align="left" valign="top">
						({{ entry.date | date: "%D" }}) <strong>{{ entry.title }}</strong> - {{ entry.description }}
					</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		<p>{{ issues.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ issues.image }}" alt="" width="5%" />
		<p align="center"><a href="/issues/">Visit Full Page Issues</a></p>
	</span>
</section>

<!-- Issues -->
{% assign road_map = site.data.road_map.index[0] %}
{% assign road_map_entries = site.data.road_map_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ road_map.title }}</h2>
		</header>
		<p>{{ road_map.header }}</p>
		<a name="RoadMap"></a>
		<center>
		<div class="table-wrapper" style="height: 300px; overflow:auto;">
			<table cellpadding="10" cellspacing="10" width="90%" class="table-wrapper">
				{% for entry in road_map_entries %}
					<tr>
						<td align="left" valign="top">
							({{ entry.date | date: "%D" }}) <strong>{{ entry.title }}</strong> - {{ entry.description }}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		</center>
		<p>{{ road_map.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ road_map.image }}" alt="" width="5%" />
		<p align="center"><a href="/road-map/">Visit Full Page Road Map</a></p>
	</span>
</section>

{% for post in site.posts limit:1 %}
	<section id="banner">
		<div class="content">
			<header>
				<h2>Latest From Blog: {{ post.title }}</h2>
				<p><em>{{ post.date | date_to_string }}</em></p>
				<a name="Blog"></a>
			</header>
			{{ post.content }}
			<ul class="actions" style="text-align: center;">
				<li><a href="/blog/" class="button big">Read The Blog</a></li>
			</ul>
		</div>
	</section>
{% endfor %}

<!-- Support -->
{% assign support = site.data.support.index[0] %}
{% assign support_resources = site.data.support_resources.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ support.title }}</h2>
			<a name="Support"></a>
		</header>
		<p>{{ support.header }}</p>
		<table cellpadding="10" cellspacing="10" width="100%">
			<tr style="border: 1px solid #FFF;">
			{% for resource in support_resources %}
				<td align="center" valign="top" style="background-color:#FFF;">
					<a href="{{ resource.url }}"><img src="{{ resource.image }}" width="75" align="center"></a>
					<a href="{{ resource.url }}">{{ resource.title }}</a>
				</td>
			{% endfor %}
			</tr>
		</table>
		<p>{{ support.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ support.image }}" alt="" width="5%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>About My Work</h2>
			<a name="About"></a>
		</header>
		<p>API Evangelist prototypes are how I explore the API lifecycle as it is applied to different industries, and types of digital resources. I'm able to not just able to easily mock an API, I'm able to mock the API operations, while telling the story of it as I flesh out the details of an operation.</p>
		<p>These prototypes are part of a new type of storytelling I'm exploring when it comes to helping folks understand the best practices emerging in the API space. If you'd like to invest in storytelling like this, feel free to drop me an email, and I'll see what I can do. I am always looking for new ways to investigate how APIs can be applied when it comes to government, healthcare, financial, and any other industry--I find the process fascinating, and need the work!</p>
		<p>Thanks for tuning in. Make sure and come back regularly as this project is living and will continually change as I have new ideas I would like to explore as part of my drone API research, or as I get more investment from a provider, or other company interested in exploring what is possible. Everything here is on Github, so feel free to fork, and run with, or submit an issue of something you want to see.</p>
	</div>
	<span class="image object">
		<img src="/images/api-evangelist-in-api-we-trust.png" alt="" width="5%" />
	</span>
</section>

<script type="text/javascript">

  function showme($id)
    {
    if(document.getElementById($id).style.display=='none')
      {
      document.getElementById($id).style.display = '';
      }
    else
      {
      document.getElementById($id).style.display = 'none';
      }
    }

   function getRequest($slug,$basePath,$path,$url)
    {

    $api_url = $url + $basePath + $path;

    document.getElementById($slug+'-loading').style.display = '';

    console.log('headers:');
    var elements = document.getElementById($slug+'-headers').elements;
    $headers = '';
    for (var i = 0, element; element = elements[i++];) {
        if (element.type === "text")
          {
          console.log(element.type + ' - ' + element.name);
          $headers = $headers + element.name + ': ' + element.value + ',';
        }
      }
    $headers = $headers.substring(1, $headers.length-1);

    var path_elements = document.getElementById($slug+'-path').elements;
    for(var i = 0, element; element = path_elements[i++];)
      {
        if(element.type === "text")
          {
          if(element.value!='')
            {
            $replace_string = '{' + element.name + '}';
            $api_url = $api_url.replace($replace_string,element.value);
            }
          }
        }


    var param_elements = document.getElementById($slug+'-parameters').elements;
    $anyparams = 0;
    $query_string = '';
    for(var i = 0, element; element = param_elements[i++];)
      {
        if(element.type === "text")
          {
          if(element.value!='')
            {
            $query_string = $query_string + element.name + '=' + element.value;
            $anyparams = 1;
            }
          }
        }

    if(elements.length > 0 && $anyparams == 1){ $api_url = $api_url + '?' + $query_string; }

    console.log("loading: " + $api_url);

    var response = $.ajax({
       url: $api_url,
       method: "get",
       headers: {$headers},
       success:function(response){

          document.getElementById($slug+'-loading').style.display = 'none';

          //response = JSON.stringify(response, null, 1);
					response = JSON.stringify(JSON.parse(response),null,2);
					response = response.replace(new RegExp("\\\\", "g"), "");
					$viewer = response;
          //console.log($viewer);
          document.getElementById($slug+'-response').value = $viewer;
          document.getElementById($slug+'-response').style.width = "100%";
          document.getElementById($slug+'-response').style.height = "250px";

        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            document.getElementById($slug+'-loading').style.display = 'none';
            $message = "Status: " + textStatus + "\nError: " + errorThrown;
            document.getElementById($slug+'-response').value = $$message;
            document.getElementById($slug+'-response').style.width = "100%";
            document.getElementById($slug+'-response').style.height = "10px";
        }
      });

    }
</script>
