---
layout: default
title: Drone Prototype
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>I am Kin Lane, the API Evangelist...</h2>
		</header>
		<p>I took the summer off last year for a project we called Drone Recovery. I began investing in, and flying drones as part of what we were doing, and unexpectedly got interested in the world of drones. Once I returned I began studying the intersection of drones and my career as the API Evangelist, better understanding how companies are using APIs on the drone, on mobile devices, and in the cloud.</p>
		<p>I have a client who expressed interest in my thoughts about an API system for drone post-production, and API driven market and ecosystem. I'm looking for projects to help me push forward my storytelling around APIs, so I set out to craft a prototype API to flush out my thoughts around the idea, acting like I'm developing an API, but just do it as an exercise, without all the cost.</p>
		<p>This is my Drone API prototype. It is a Github driven prototype where I walk through all the steps I would take to design, develop, manage, and evolve a drone API. I'm looking to establish an evolving, but simple overview of the API, but with all the detail of how I got here right below the surface, so anyone could learn from my story.</p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="10%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Drones Are Interesting</h2>
		</header>
		<p>I did not like drones at first. Because of military drones, and Internet of Things hype I just wasn't interested, but over the last year I've come to find them very interesting.</p>
	</div>
	<span class="image object">
		<img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist-site/blog/kin-lane-drone-catch.png" alt="" width="10%" />
	</span>
</section>

<!-- Getting Started -->
<section id="banner">
	<div class="content">
		{% assign getting_started = site.data.getting_started.index[0] %}
		{% assign getting_started_steps = site.data.getting_started_steps.index %}
		<header>
			<h2>{{ getting_started.title }}</h2>
		</header>
		<p>{{ getting_started.header }}</p>
		  <ol style="list-style-type: decimal; padding-left: 35px;">
		    {% for steps in getting_started_steps %}
					<li><a href="{{ steps.url }}"><strong>{{ steps.title }}</strong></a></li>
		    {% endfor %}
		  </ol>
		<p>{{ getting_started.footer }}</p>
	</div>
	<span class="image">
		<img src="{{ getting_started.image }}" alt="" width="5%" />
	</span>
</section>

<!-- Authentication -->
{% assign authentication = site.data.authentication.index[0] %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ authentication.title }}</h2>
		</header>
		<p>{{ authentication.header }}</p>
		<p>{{ apigettingstarted.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ authentication.image }}" alt="" width="5%" />
	</span>
</section>

<!-- FAQ -->
{% assign faq = site.data.faq.index[0] %}
{% assign faq_categories = site.data.faq_categories.index %}
{% assign faq_questions = site.data.faq_questions.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ faq.title }}</h2>
		</header>
		<p>{{ faq.header }}</p>
			{% for categories in faq_categories %}
				<p><strong>{{ categories.category }}</strong></p>
				<ul>
				{% for questions in faq_questions %}
					{% if categories.category == questions.category %}
						<li><a name="{{ slug }}"></a><strong>{{ questions.question }}</strong> - {{ questions.answer }}</li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endfor %}
		<p>{{ faq.footer }}</p>
	</div>
	<div class="image object">>
		<img src="{{ faq.image }}" alt="" width="5%" />
	</div>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Drone APIs</h2>
		</header>

		<table cellpadding="3" cellspacing="2" width="100%" border="0" style="border: 0px solid #FFF; background-color:#FFF;">

		{% assign apijson = site.data.apis %}
		{% assign apicommons = site.data.api-commons %}

		{% assign filter_name = '' %}

		{% assign blog_url = '' %}
		{% assign blogrss_url = '' %}
		{% assign portal_url = '' %}
		{% assign gitub_url = '' %}
		{% assign twitter_url = '' %}
		{% assign website_url = '' %}

		{% assign definitions = apijson.definitions %}

		{% for common in apijson.x-common %}

		  {% if common.type == 'x-getting-started' %}
		    {% assign getting_started_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-authentication-overview' %}
		    {% assign authentication_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-faq' %}
		    {% assign faq_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-login' %}
		    {% assign login_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-selfservice-registration' %}
		    {% assign signup_url = common.url %}
		  {% endif %}

		  {% if common.type == 'x-documentation' %}
		    {% assign documentation_url = common.url %}
		  {% endif %}

		  {% if common.type == 'x-code-page' %}
		    {% assign code_page_url = common.url %}
		  {% endif %}

		  {% if common.type == 'x-road-map' %}
		    {% assign road_map_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-issues' %}
		    {% assign issue_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-change-log' %}
		    {% assign change_log_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-status' %}
		    {% assign status_dashboard_url = common.url %}
		  {% endif %}

		  {% if common.type == 'x-support' %}
		    {% assign support_url = common.url %}
		  {% endif %}

		  {% if common.type == 'x-api-plan' %}
		    {% assign api_plan_url = common.url %}
		  {% endif %}
		  {% if common.type == 'x-rate-limit' %}
		    {% assign rate_limit_url = common.url %}
		  {% endif %}

		{% endfor %}

		  <tr style="border: 1px solid #FFF;">
		    <td style="border: 0px solid #FFF; background-color:#FFF;">
		      <table width="100%" border="0" style="padding-top: 10px; border: 0px solid #FFF; background-color:#FFF;">
		        <tr style="border: 1px solid #FFF;">
		        <td align="center" style="margin-left: 90px; margin-right: 90px; border: 0px solid #FFF; background-color:#FFF;">

		            {% assign api_action_url = '' %}
		            {% assign numberofapis = apijson.apis | size %}

		                {% assign api_action_url = '' %}
		                {% for api in apijson.apis %}

		                <table cellpadding="3" cellspacing="2" width="100%" border="0" style="border: 0px solid #FFF; background-color:#FFF;">

		                    {% assign api_action_spec = '' %}
		                    {% assign api_action_url = '' %}
		                    {% assign openapi_spec_json = '' %}

		                    {% for property in api.properties %}

		                      {% assign thisname = apijson.name | downcase %}
		                      {% assign thisname = thisname | append:'/' %}
		                      {% assign thisname = thisname | replace: ' ','-' %}

		                      {% if property.type == 'x-json-schema' %}
		                        {% assign json_schema_url = property.url %}
		                      {% endif %}

		                      {% if property.type == 'x-openapi' %}
		                        {% assign openapi_spec_url = property.url %}
														{% assign this_object = openapi_spec_url | replace: 'http://drone.prototype.apievangelist.com/apis/','' | replace: '/openapi.json','' %}
														{% assign openapi_spec = site.data[this_object].openapi %}
		                      {% endif %}

		                      {% if property.type == 'x-api-filters' %}

		                        {% assign api_filters_url = property.url %}
		                        {% assign api_filter_path = api_filters_url | replace: '_data/api-commons/','' %}
		                        {% assign api_filter_path = api_filter_path | replace: '.yaml','' %}
		                        {% assign api_filter_path = api_filter_path | replace: '.json','' %}
		                        {% assign api_filter_path = api_filter_path | replace: '/','.' %}
		                        {% assign api_filter_path = api_filter_path | replace: 'api-commons.','' %}

		                        {% for entry in apicommons %}
		                          {% assign thisname = entry[0] %}
		                          {% assign thisentry = entry[1] %}
		                          {% if thisname == api_filter_path %}
		                            {% assign api_filters = thisentry %}
		                          {% endif %}
		                        {% endfor %}

		                      {% endif %}

		                    {% endfor %}

		                    {% if filter_name != null and filter_name != empty %}
		                      <tr style="border: 1px solid #FFF;" style="border: 1px solid #FFF;">
		                        <td align="center" colspan="2" style="font-size: 18px; font-weight: bold; padding: 10px;">
		                          {{ filter_name }}
		                        </td>
		                      </tr>
		                    {% endif %}

		                    <tr style="border: 1px solid #FFF;">
		                      <td align="left" style="font-size: 18px; font-weight: bold; padding: 10px; border-color: #FFF; background-color:#FFF;">
		                        {{ api.name }}
		                      </td>
		                      <td align="right" style="padding: 10px; border-color: #FFF; background-color:#FFF;">
		                          <strong>OpenAPI:</strong>
		                          (<a href="https://raw.githubusercontent.com/{{ site.github_user }}/{{ site.github_repo }}/master/_data/api-commons/openapi.yaml" target="_blank" title="YAML OpenAPI" style="font-size: 16px; font-weight: normal;">YAML</a>)
		                          (<a href="{{ site.url }}data/openapi.json" target="_blank" title="View OpenAPI Spec" style="font-size: 16px; font-weight: normal;">JSON</a>)
		                      </td>
		                    </tr>
		                    <tr style="border: 1px solid #FFF;">
		                      <td align="center" colspan="2" style="padding: 10px;"><strong>base url:</strong> {{ api.baseURL }}</td>
		                    </tr>
		                    <tr id="methods-for-{{ pathname }}" style="border: 1px solid #FFF;">
		                      <td colspan="2">

		                        <table width="95%" border="0" style="margin-left: 15px; border-color: #FFF; background-color:#FFF;">
		                          {% assign taglist = '' %}
	                            {% for path in openapi_spec.paths %}

	                              {% assign this_path = path[0] %}
	                              {% assign method_json = path[1] %}

	                              {% assign filter_path = 1 %}
	                              {% for filter in api_filters %}
	                                {% assign this_filter_name = filter.name %}
	                                {% if this_filter_name == filter_name %}
	                                  {% for show in filter.filters %}
	                                    {% if this_path == show.path %}
	                                      {% assign filter_path = 0 %}
	                                    {% endif %}
	                                  {% endfor %}
	                                {% endif %}
	                              {% endfor %}

	                              {% if filter_name == '' %}
	                                {% assign filter_path = 0 %}
	                              {% endif %}

	                              {% if filter_path == 0 %}
	                                {% for method in method_json %}
	                                  {% assign tagarray = method[1].tags %}
	                                  {% assign tag = tagarray[0] %}
	                                  {% if taglist contains tag %}
	                                  {% else %}
	                                    {% assign taglist = taglist | append:',' %}
	                                    {% assign taglist = taglist | append:tag %}
	                                  {% endif %}
	                                {% endfor %}
	                              {% endif %}

	                            {% endfor %}

		                          {% assign tagArray = taglist | split: "," %}
		                          {% for grouptag in tagArray %}

		                            <tr style="border: 1px solid #FFF;">
		                              <td colspan="5" style="padding-top: 10px;"><strong>{{ grouptag }}</strong></td>
		                            </tr>

		                              {% assign api_title = openapi_spec_json.info.title %}
		                              {% assign api_description = openapi_spec_json.info.description %}

		                              {% assign api_host = openapi_spec_json.host %}
		                              {% assign api_base = openapi_spec_json.basePath %}

		                              {% assign api_url = api_host | prepend:'https://' %}
		                              {% assign api_url = api_url | append:api_base %}

		                              {% for path in openapi_spec_json.paths %}

		                                {% assign this_path = path[0] %}
		                                {% assign method_json = path[1] %}

		                                {% assign filter_path = 1 %}
		                                {% for filter in api_filters %}
		                                  {% assign this_filter_name = filter.name %}
		                                  {% if this_filter_name == filter_name %}
		                                    {% for show in filter.filters %}
		                                      {% if this_path == show.path %}
		                                        {% assign filter_path = 0 %}
		                                      {% endif %}
		                                    {% endfor %}
		                                  {% endif %}
		                                {% endfor %}

		                                {% if filter_name == '' %}
		                                  {% assign filter_path = 0 %}
		                                {% endif %}

		                                {% if filter_path == 0 %}
		                                  {% for method in method_json %}

		                                    {% assign parameters = method[1].parameters %}

		                                    {% assign tagarray = method[1].tags %}
		                                    {% assign tag = tagarray[0] %}

		                                    {% assign verb = method[0] | upcase %}

		                                    {% if verb == 'GET' %}
		                                      {% assign back_color = site.get_color %}
		                                    {% endif %}
		                                    {% if verb == 'POST' %}
		                                      {% assign back_color = site.post_color %}
		                                    {% endif %}
		                                    {% if verb == 'PUT' %}
		                                      {% assign back_color = site.put_color %}
		                                    {% endif %}
		                                    {% if verb == 'DELETE' %}
		                                      {% assign back_color = site.delete_color %}
		                                    {% endif %}

		                                    {% assign summary = method[1].summary %}

		                                    {% if tag == grouptag %}

		                                      {% assign slug = path[0] | replace: '/','' %}

		                                      <tr style="border: 1px solid #FFF;">
		                                        <td style="padding-left: 20px; font-size: 12px;">{{ summary }}</td>
		                                        <td style="font-size: 12px;">{{ path[0] }}</td>
		                                        <td align="center" style="padding: 1px; width: 75px; background-color:#{{ back_color }}; font-weight: bold; font-size: 11px; color: #FFF;">
		                                          {{ verb }}
		                                        </td>
		                                        <td style="width: 25px;"></td>
		                                        <td><button type="button" class="btn btn-default" onclick="showme('{{ slug }}-row'); return false;">Try</button></tr>
		                                      </tr>
		                                      <tr id="{{ slug }}-row" style="display: none; border: 1px solid #FFF;">
		                                        <td colspan="4" style="padding: 15px;">

		                                          <table width="90%" border="0" align="center" style="border-color:#FFF; background-color:#FFF;">

		                                            <form id="{{ slug }}-headers">
		                                            <!-- Begin Headers -->
		                                            {% assign number_of_parameters = parameters | size %}

		                                            {% if number_of_parameters > 0 %}

		                                              {% assign any_headers = 0 %}
		                                              {% for parameter in parameters %}
		                                                {% if parameter.in == 'header' %}
		                                                  {% assign any_headers = 1 %}
		                                                {% endif %}
		                                              {% endfor %}

		                                              <!-- If there are any headers -->
		                                              {% if any_headers > 0 %}
		                                                <tr style="background-color: #CCC;">
		                                                  <td style="font-size: 12px; padding: 5px;"><strong>Headers:</strong></td>
		                                                </tr>
		                                                <tr>
		                                                  <td align="left" style="font-size: 12px; padding: 10px;">
		                                                      <table style="width: 50%;">
		                                                        {% for parameter in parameters %}
		                                                          {% if parameter.in == 'header' %}
		                                                            <tr>
		                                                              <td style="width: 35%;" align="right"><strong>{{ parameter.name }}:</strong></td>
		                                                              <td><input type="text" name="{{ parameter.name }}" value="" style="width: 100%;" /></td>
		                                                            </tr>
		                                                          {% endif %}
		                                                        {% endfor %}
		                                                      </table>
		                                                  </td>
		                                                </tr>
		                                              {% endif %}
		                                            {% endif %}
		                                            <!-- End Headers -->
		                                            </form>

		                                            <form id="{{ slug }}-path">
		                                            <!-- Begin Path Parameters -->
		                                            {% assign number_of_parameters = parameters | size %}
		                                            {% if number_of_parameters > 0 %}

		                                              {% assign any_path_parameters = 0 %}
		                                              {% for parameter in parameters %}
		                                                {% if parameter.in == 'path' %}
		                                                  {% assign any_path_parameters = 1 %}
		                                                {% endif %}
		                                              {% endfor %}

		                                              <!-- If there are any headers -->
		                                              {% if any_path_parameters > 0 %}
		                                                <tr>
		                                                  <td style="font-size: 12px; padding: 5px;"><strong>Path Parameters:</strong></td>
		                                                </tr>
		                                                <tr>
		                                                  <td align="left" style="font-size: 12px; padding: 10px;">
		                                                      <table style="width: 50%;">
		                                                        {% for parameter in parameters %}
		                                                          {% if parameter.in == 'path' %}
		                                                            <tr>
		                                                              <td style="width: 35%;" align="right"><strong>{{ parameter.name }}:</strong></td>
		                                                              <td><input type="text" name="{{ parameter.name }}" value="" style="width: 100%;" /></td>
		                                                            </tr>
		                                                          {% endif %}
		                                                        {% endfor %}
		                                                      </table>
		                                                  </td>
		                                                </tr>
		                                              {% endif %}
		                                            {% endif %}
		                                            <!-- End Path Parameters -->
		                                            </form>

		                                            <form id="{{ slug }}-parameters">
		                                            <!-- Begin Parameters -->
		                                            {% assign number_of_parameters = parameters | size %}
		                                            {% if number_of_parameters > 0 %}

		                                              {% assign any_parameters = 0 %}
		                                              {% for parameter in parameters %}
		                                                {% if parameter.in == 'query' %}
		                                                  {% assign any_parameters = 1 %}
		                                                {% endif %}
		                                              {% endfor %}

		                                              <!-- If there are any headers -->
		                                              {% if any_parameters > 0 %}
		                                                <tr style="background-color: #CCC;">
		                                                  <td style="font-size: 12px; padding: 5px;"><strong>Parameters:</strong></td>
		                                                </tr>
		                                                <tr>
		                                                  <td align="left" style="font-size: 12px; padding: 10px;">
		                                                      <table style="width: 50%;">
		                                                        {% for parameter in parameters %}
		                                                          {% if parameter.in == 'query' %}
		                                                            <tr>
		                                                              <td style="width: 35%;" align="right"><strong>{{ parameter.name }}:</strong></td>
		                                                              <td><input type="text" name="{{ parameter.name }}" value="" style="width: 100%;" /></td>
		                                                            </tr>
		                                                          {% endif %}
		                                                        {% endfor %}
		                                                      </table>
		                                                  </td>
		                                                </tr>
		                                              {% endif %}
		                                            {% endif %}
		                                            <!-- End Parameters -->
		                                            </form>

		                                            <tr style="background-color: #CCC;">
		                                              <td style="font-size: 12px; padding: 5px;"><strong>Response:</strong></td>
		                                            </tr>
		                                            <tr>
		                                              <td style="font-size: 12px; padding: 10px;">
		                                                <textarea id="{{ slug }}-response" style="overflow: auto; height: 5px; width: 100%; border: 0px solid #FFF;"></textarea>
		                                              </td>
		                                            </tr>
		                                            <tr id="{{ slug }}-loading" style="display: none;">
		                                              <td align="center">
		                                                <img src="http://miami.open.211.adopta.agency/images/loading.gif" />
		                                              </td>
		                                            </tr>
		                                            <tr>
		                                              <td align="center"s tyle="font-size: 12px; padding: 25px;">
		                                                <button type="button" class="btn btn-success" onclick="getRequest('{{ slug }}','{{ path[0] }}','{{ api_url }}');">Make API Request</button>
		                                              </td>
		                                            </tr>
		                                          </table>
		                                        </td>
		                                      </tr>
		                                    {% endif %}

		                                  {% endfor %}
		                                {% endif %}


		                              {% endfor %}
		                            {% endfor %}

		                        </table>
		                      </td>
		                    </tr>

												<tr style="margin: 5px;">
													<td colspan="5"><a name="definitions"></a><br /><br /></td>
												</tr>
												<tr>
													<td align="left" style="font-size: 18px; font-weight: bold; padding: 10px;">Definitions</td>
													<td colspan="5" align="right" style="padding: 10px;">
														{% if json_schema_url != null and json_schema_url != empty %}
															<a href="{{ site.url }}{{ json_schema_url }}" target="_blank" title="View JSON Schema" style="font-size: 16px; font-weight: normal;">JSON Schema</a>
														{% endif %}
													</td>
												</tr>
												{% assign taglist = '' %}
													{% for definition in openapi_spec_json.definitions %}
														{% assign definition_name = definition[0] %}
														{% assign fields = definition[1] %}
														<tr>
															<td style="padding: 0px 25px 0px 25px;" colspan='5'>
																<strong>{{ definition_name }}</strong>
																<ul style='padding-left: 50px;'>
																	{% for property in fields.properties %}
																		{% assign property_name = property[0] %}
																		<li><strong>{{ property_name }}</strong> (<em>{{ property[1]["type"] }}</em>) - {{ property[1]["description"] }}</li>
																	{% endfor %}
																</ul>
															</td>
														</tr>
													{% endfor %}

		                  </table>
		                {% endfor %}
		            </td>
		          </tr>
		        </table>
		      </td>
		    </tr>
		  </table>


	</div>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Management APIs</h2>
		</header>
		<p></p>
	</div>
</section>

{% assign code = site.data.code.index[0] %}
{% assign code_entries = site.data.code_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ code.title }}</h2>
		</header>
		<p>{{ code.header }}</p>
		<center>
		<table style="width: 80%; padding-left: 25px; border: 1px; background-color: #FFF; border: 0px solid #FFF;">
		  <tr style="border: 1px solid #FFF;">
			{% for entry in code_entries %}
		  		<td align="center" valign="top" style=" width: 50px; padding: 10px; background-color:#FFF; border: 1px solid #FFF;">
		  			{{ entry.icon }}<br />{{ entry.language }}
		  		</td>
			{% endfor %}
		  </tr>
		</table>
		</center>
		<p>{{ code.footer }}</p>
	</div>
</section>

<!-- Integrations -->
{% assign integration = site.data.integrations.index[0] %}
{% assign integration_entries = site.data.integration_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ integration.title }}</h2>
		</header>
		<p>{{ integration.header }}</p>
		<center>
		<table cellpadding="3" cellspacing="2" style="margin-top: 10px;" width="90%">
		{% assign toggle = 0 %}
		{% for tool in integration_entries %}
		    {% if toggle == 0 %}
		    <tr>
		    {% endif %}
		      <td width="50%" valign="top" align="center" style="width: 250px; height: 250px; background-color:#FFF; border: 0px solid #FFF;">
		        <img src="{{ tool.image }}" align="center" width="{{ tool.imagewidth }}" />
		        <p align="center"><a href="{{ tool.url }}"><strong>{{ tool.name }}</strong></a></p>
		      </td>
		    {% if toggle == 3 %}
		      </tr>
		      {% assign toggle = 0 %}
		    {% else %}
		      {% assign toggle = toggle | plus: 1%}
		    {% endif %}
		{% endfor %}
		</table>
	</center>
		<p>{{ integration.footer }}</p>
	</div>
</section>

<!-- Issues -->
{% assign change_log = site.data.change_log.index[0] %}
{% assign change_log_entries = site.data.change_log_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ change_log.title }}</h2>
		</header>
		<p>{{ change_log.header }}</p>
		<center>
		<div class="table-wrapper" style="height: 300px; overflow:auto;">
		<table cellpadding="10" cellspacing="10" width="90%" class="table-wrapper">
			{% for entry in change_log_entries %}
				<tr>
					<td align="left" valign="top">
						({{ entry.date | date: "%D" }}) <strong>{{ entry.title }}</strong> - {{ entry.description }}
					</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		</center>
		<p>{{ change_log.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ change_log.image }}" alt="" width="5%" />
	</span>
</section>

<!-- Issues -->
{% assign issues = site.data.issues.index[0] %}
{% assign issue_entries = site.data.issue_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ issues.title }}</h2>
		</header>
		<p>{{ issues.header }}</p>
		<div class="table-wrapper" style="height: 300px; overflow:auto;">
		<table class="table-wrapper">
			{% for entry in issue_entries %}
				<tr>
					<td align="left" valign="top">
						({{ entry.date | date: "%D" }}) <strong>{{ entry.title }}</strong> - {{ entry.description }}
					</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		<p>{{ issues.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ issues.image }}" alt="" width="5%" />
	</span>
</section>

<!-- Issues -->
{% assign road_map = site.data.road_map.index[0] %}
{% assign road_map_entries = site.data.road_map_entries.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ road_map.title }}</h2>
		</header>
		<p>{{ road_map.header }}</p>
		<center>
		<div class="table-wrapper" style="height: 300px; overflow:auto;">
			<table cellpadding="10" cellspacing="10" width="90%" class="table-wrapper">
				{% for entry in road_map_entries %}
					<tr>
						<td align="left" valign="top">
							({{ entry.date | date: "%D" }}) <strong>{{ entry.title }}</strong> - {{ entry.description }}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		</center>
		<p>{{ road_map.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ road_map.image }}" alt="" width="5%" />
	</span>
</section>

<!-- Support -->
{% assign support = site.data.support.index[0] %}
{% assign support_resources = site.data.support_resources.index %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ support.title }}</h2>
		</header>
		<p>{{ support.header }}</p>
		{% for resource in support_resources %}
				<a href="{{ resource.url }}"><img src="{{ resource.image }}" width="75" align="center"></a>
				<a href="{{ resource.url }}">{{ resource.title }}</a>
			</td>
		{% endfor %}
		<p>{{ support.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ support.image }}" alt="" width="5%" />
	</span>
</section>
