---
layout: default
title: Drone Prototype
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>I am Kin Lane, the API Evangelist...</h2>
		</header>
		<p>I took the summer off last year for a project we called Drone Recovery. I began investing in, and flying drones as part of what we were doing, and unexpectedly got interested in the world of drones. Once I returned I began studying the intersection of drones and my career as the API Evangelist, better understanding how companies are using APIs on the drone, on mobile devices, and in the cloud.</p>
		<p>I have a client who expressed interest in my thoughts about an API system for drone post-production, and API driven market and ecosystem. I'm looking for projects to help me push forward my storytelling around APIs, so I set out to craft a prototype API to flush out my thoughts around the idea, acting like I'm developing an API, but just do it as an exercise, without all the cost.</p>
		<p>This is my Drone API prototype. It is a Github driven prototype where I walk through all the steps I would take to design, develop, manage, and evolve a drone API. I'm looking to establish an evolving, but simple overview of the API, but with all the detail of how I got here right below the surface, so anyone could learn from my story.</p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Drones Are Cool</h2>
		</header>
		<p></p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>

<!-- Getting Started -->
<section id="banner">
	<div class="content">
		{% assign index = site.data.getting_started.index[0] %}
		{% assign index = site.data.getting_started_steps.index[0] %}
		<header>
			<h2>{{ getting_started.title }}</h2>
		</header>
		<p>{{ getting_started.header }}</p>
		  <ol style="list-style-type: decimal; padding-left: 35px;">
		    {% for steps in getting_started_steps %}
					{% if steps.title == getting_started.title %}
						<li><a href="{{ steps.url }}"><strong>{{ steps.title }}</strong></a></li>
					{% endif %}
		    {% endfor %}
		  </ol>
		<p>{{ getting_started.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ apigettingstarted.image }}" alt="" width="25%" />
	</span>
</section>

<!-- Authentication -->
<section id="banner">
	<div class="content">
		{% assign authentication = site.data.authentication.index[0] %}
		<header>
			<h2>{{ authentication.title }}</h2>
		</header>
		<p>{{ authentication.header }}</p>
		<p>{{ apigettingstarted.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ authentication.image }}" alt="" width="25%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		{% assign faq = site.data.faq.index[0] %}
		<header>
			<h2>{{ faq.title }}</h2>
		</header>
		<p>{{ faq.header }}</p>
		<p>{{ faq.footer }}</p>
	</div>
	<span class="image object">
		<img src="{{ faq.image }}" alt="" width="25%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Drone APIs</h2>
		</header>
		<p></p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Management APIs</h2>
		</header>
		<p></p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ apicode.title }}</h2>
		</header>
		{% assign code = site.data.code.index[0] %}
		{% assign code_entries = site.data.code.index[0] %}
		<p>{{ code.header }}</p>
		<center>
			{% for entry in code_entries %}
				{{ entry.icon }}
			{% endfor %}
		</center>
		<p>{{ code.footer }}</p>
	</div>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Integrations</h2>
		</header>
		<p></p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>


<!-- Section -->
	<section>
		<header>
			<h2>Updates</h2>
			<p>These are my partners who invest in API Evangelist each month, helping underwrite my research, and making sure I'm able to keep monitoring the API space as I do.</p>
		</header>
		<div class="features">
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ site.data.change_log.index[0].image }}" width="50%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="/change_log/" target="_blank">{{ site.data.change_log.index[0].title }}</a></h3>
					<p>{{ site.data.change_log.index[0].header }}</p>
				</div>
			</article>
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ site.data.issues.index[0].image }}" width="50%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="/issues/" target="_blank">{{ site.data.issues.index[0].title }}</a></h3>
					<p>{{ site.data.issues.index[0].header }}</p>
				</div>
			</article>
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ site.data.road_map.index[0].image }}" width="50%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="/road_map/" target="_blank">{{ site.data.road_map.index[0].title }}</a></h3>
					<p>{{ site.data.road_map.index[0].header }}</p>
				</div>
			</article>
		</div>
	</section>


<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Issues</h2>
		</header>
		<p></p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Road Map</h2>
		</header>
		<p></p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Support</h2>
		</header>
		<p></p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="" width="25%" />
	</span>
</section>
