<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="#InterestingDrones">Drones Are Interesting</a></li>
    <li><a href="#GettingStarted">Getting Started</a></li>
    <li><a href="#FAQ">Frequently Asked Questions</a></li>
    <li>
      <span class="opener"><a href="#DroneAPIs">Drone APIs</a></span>
      <ul>
        {% assign filter_tag = 'Drones' %}
    		{% assign apijson = site.data.apis %}
    		{% assign apicommons = site.data.api-commons %}
    		{% include api-doc.html %}
        {% include api-list.html %}
      </ul>
    </li>
    <li>
      <span class="opener"><a href="#ManagementAPIs">Management APIs</a></span>
      <ul>
        {% assign filter_tag = 'Management' %}
  			{% assign apijson = site.data.apis %}
  			{% assign apicommons = site.data.api-commons %}
  			{% include api-doc.html %}        
        {% include api-list.html %}
      </ul>
    </li>
    <li><a href="#Code">Code</a></li>
    <li><a href="#Integrations">Integrations</a></li>
    <li><a href="#ChangeLog">Change Log</a></li>
    <li><a href="#Issues">Issues</a></li>
    <li><a href="#RoadMap">Road Map</a></li>
    <li><a href="#Blog">Blog</a></li>
    <li><a href="#Support">Support</a></li>
    <li><a href="#About">About</a></li>
  </ul>
</nav>
