swagger: '2.0'
info:
  title: Application API
  description: This is an API for managing applications consuming the API.
  termsOfService: https://drone.prototype.apievangelist.com/terms-of-service/
  contact:
    name: API Evangelist
    url: https://apievangelist.com
    email: info@apievangelist.com
  version: v1.1
host: drone.prototype.apievangelist.com
basePath: /apis
schemes:
- http
produces:
- application/json
paths:
  /application/:
    get:
      summary: Get Application
      description: Get Application
      operationId: getApplication
      responses:
        '200':
          description: Application Response
          schema:
            type: array
            items:
              $ref: "#/definitions/application"
      tags:
      - Management
      - Application
definitions:
  application:
    properties:
      application_id:
        description: The id of the application.
        type: string
      account_id:
        description: The name of the application.
        type: string
      plan_id:
        description: The make of the application.
        type: string
      name:
        description: The model of the application.
        type: string
      description:
        description: The description for the application.
        type: string
      application_key:
        description: The image for the application.
        type: string
      user_key:
        description: The image for the application.
        type: string
      redirect_url:
        description: The image for the application.
        type: string
    required:
      - application_id
